@import './constants';

.ping_header {
    background-color: @page_block_bg_color;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 7px solid @page_block_bg_color;
    border-image: url(/src/assets/png/header_border_bottom.png) 7 round round;

    &_logo_icon {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 2rem;
        height: 2rem;
    }

    &_search {
        grid-column-start: 3;
        grid-column-end: 4
    }

    &_main{
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}