@import './constants';

.party {
    display: flex;
    align-items: center;
    border: 1px solid @page_bg_color;

    &_img {
        border-radius: 50%;
        border: 1px solid @page_bg_color;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
    }

    &_text {

    }

    .ping_button {
        height: 100%;
    }
}