@import './constants';

.rating_page {
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: @page_block_bg_color;

    &_parties {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: @page_offset;
        align-items: center;
        margin: 0 @page_offset;
    }

    .party_description {
        display: flex;
        align-items: flex-start;

        &_image {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            margin: @page_offset;
        }

        &_content {
            flex-grow: 1;

            &_text {
                color: @breadcrumbs_font_color;
            }
        }
    }
}

// overrides for parties page
.party_page {
    .party {
        .ping_button {
            min-width: 6rem;
            width: 6rem;
        }
    }
}